**/__pycache__
**/*.mp4
**/*.mp3
**/*.wav
api_python/.coverage
**/.pytest_cache
api_python/app/core/deepgram_secret.py
api_python/app/core/groq_secret.py
/api_python/.venv
**/node_modules
api_python/tests/unit-summary.md
api_python/tests/ALL_TESTS_SUMMARY.md
